/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Work Sans", sans-serif;
    font-weight: 900;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}

p,
a,
pre {
    font-family: "Work-Sans", sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
main {
    position: relative;
}
/* General styles */
.highlight {
    font-weight: 900;
}
.btn {
    width: 30%;
    font-size: 30px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 239)
}
.correct {
    background-color: rgb(40, 108, 40);
}
.incorrect {
    background-color: rgb(186, 42, 42);
}
/* HEADER STYLES */
header {
    display: flex;
    padding: 40px 20px 40px 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(215, 215, 215);
    position: relative;
}

#logo-container h1 {
    font-weight: 400;
}
.current-leader {
    font-weight: 400;
}
#high-score-link {
    position: absolute;
    top: 5px;
    right: 5px;
}
#current-score {
    font-weight: 400;
}
/* TIME LEFT */
#time-left-container {
    display: block;
    text-align: center;
    margin-top: 5%;
}
#countdown {
    font-size: 2rem;
}
/* QUESTION BLOCK */
#question {
    text-align: center;
}
#possible-answers {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.pa-label-letters {
    background-color: rgba(169, 169, 169, 0.741);
    background-color: rgb(169, 169, 169);
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pa-btn {
    width: 100%;
}
#right-wrong {
    text-align: center;
    padding: 20px;
}
#alert-win-lose {
    color: rgb(237, 41, 41);
}
.border-top {
    border-top: black 2px solid;
    width: 80%;
    margin: 0 auto;
}
/* MODALS */
#start-modal {
    text-align: center;
    width: 70%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(228, 228, 228, 0.741);
    backdrop-filter: blur(6px);
    padding: 40px;
    min-height: 20vw;
    border-radius: 50px;
    position: absolute;
    left: 0;
    right: 0;
    transition: all ease-in 0.5s;
}
#start-modal h1 {
    margin-bottom: 20px;
}
#start-modal p {
    font-size: 2em;
}
#start-game-btn {
    background-color: rgba(169, 169, 169, 0.741);
    padding: 20px;
}
/* END PAGE */
#end-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    z-index: 7;
}

#end-input-container {
    text-align: center;
    width: 70%;
    height: auto;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(228, 228, 228, 0.741);
    backdrop-filter: blur(6px);
    padding: 40px;
    min-height: 20vw;
    border-radius: 50px;
    left: 0;
    right: 0;
}
/* LABEL ELEMENTS */
.label-values {
    font-size: 3rem;
    font-weight: 400;
}
#end-scores-container {
    height: 50vh;
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#name-input-container {
    display: flex;
    margin-top: 20px;
}

#name-input {
    padding: 10px;
    border-radius: 10px;
    border-style: hidden;
    font-size: 1.5rem;
    margin-right: 25px;
}
#name-input:focus {
    outline: none;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(77, 77, 77, 0.57);
}
#try-again-btn {
    display: none;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
}
#end-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#submit-name-btn {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
    border-style: none;
    border-radius: 10px;
}
#modal-high-score {
    position: absolute;
    text-align: center;
    width: 70%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(228, 228, 228, 0.741);
    backdrop-filter: blur(6px);
    padding: 40px;
    min-height: 20vw;
    border-radius: 50px;
    left: 0;
    right: 0;
    z-index: 9;
}
/* TOGGLE STYLE */
.display-none {
    visibility: hidden;
}
@media only screen and (max-width: 968px) {
    header {
        justify-content: center;
        flex-wrap: wrap;
    }
    header div {
        width: 100%;
    }
    header h3 {
        font-size: 4vw;
    }
    #start-modal {
        width: 80%;
    }
    #start-modal .btn {
        width: 100%;
    }

    #possible-answers .btn {
        width: 60%;
    }
    #end-input-container .btn {
        width: 90%;
    }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 575px) {
    h1 {
        font-size: 12vw;
    }
    header h3 {
        font-size: 6vw;
    }

    #start-modal p {
        font-size: 4vw;
    }
    #end-input-container {
        width: 90%;
    }

    #end-input-container h2 {
        font-size: 6vw;
    }
}
