/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Work Sans", sans-serif;
    font-weight: 900;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}

p,
a,
pre {
    font-family: "Work-Sans", sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
/* General styles */
.highlight {
    font-weight: 900;
}
.btn {
    width: 30%;
    font-size: 30px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* HEADER STYLES */
header {
    display: flex;
    padding: 40px 20px 40px 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(215, 215, 215);
    position: relative;
}
main {
    /* visibility: hidden; */
    position: relative;
}
#logo-container h1 {
    font-weight: 400;
}
#current-leader {
    font-weight: 400;
}
#high-score-link {
    position: absolute;
    top: 5px;
    right: 5px;
}
#current-score {
    font-weight: 400;
}
#time-left-container {
    display: block;
    text-align: center;
    margin-top: 5%;
}
#countdown {
    font-size: 2rem;
}
#question {
    text-align: center;
}
#possible-answers {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.pa-label-letters {
    background-color: rgba(169, 169, 169, 0.741);
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pa-btn {
    width: 100%;
}
#right-wrong {
    text-align: center;
    padding: 20px;
    border-top: black 2px solid;
    width: 80%;
    margin: 0 auto;
}
#start-modal {
    text-align: center;
    width: 70%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(228, 228, 228, 0.741);
    backdrop-filter: blur(6px);
    padding: 40px;
    min-height: 20vw;
    border-radius: 50px;
    position: absolute;
    left: 0;
    right: 0;
    transition: all ease-in 0.5s;
}
#start-modal h1 {
    margin-bottom: 20px;
}
#start-modal p {
    font-size: 2em;
}
#start-game-btn {
    background-color: rgba(169, 169, 169, 0.741);
    padding: 20px;
}
#end-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#end-input-container {
    text-align: center;
    width: 70%;
    height: auto;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(228, 228, 228, 0.741);
    backdrop-filter: blur(6px);
    padding: 40px;
    min-height: 20vw;
    border-radius: 50px;
    /* position: absolute; */
    left: 0;
    right: 0;
}
.label-values {
    font-size: 3rem;
    font-weight: 400;
}
#end-scores-container {
    height: 40%;
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#name-input-container {
    display: flex;
    margin-top: 20px;
}

#name-input {
    padding: 10px;
    border-radius: 10px;
    border-style: hidden;
    font-size: 1.5rem;
    margin-right: 25px;
}
#name-input:focus {
    outline: none;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(77, 77, 77, 0.57);
}
#try-again-btn {
    display: none;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
}
#end-message {
    margin-top: 10vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#submit-name-btn {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
}
